@font-face {
  font-family: 'CodystarLight';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Codystar-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Codystar-Regular.ttf') format('truetype');
}

$dot-matrix-font: "Codystar", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$dot-matrix-light-font: "CodystarLight", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$semi-bold-font: "OpenSansSemiBold", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$bold-font: "OpenSansBold", Arial, 'Helvetica Neue', Helvetica, sans-serif;
