@import './fonts';
$dirtyBlack: #444343;
$yellow: #ffdf94;
$boxHeight: 50px;
$boxWidth: 50px;
$textSize: calc(#{$boxWidth} * 0.9);

.number-block {
  background-color: $dirtyBlack;
  color: $yellow;
  // display: inline-flex;
  font-family: $dot-matrix-font;
  height: $boxHeight;
  justify-content: center;
  // width: $boxWidth;
}

.number-block-number {
  font-size: $textSize;
}
