@import './fonts';

$titleBackground: '#f9f7f7';
$titleText: '#444343';

.scoreboard-row {
  min-height: 50px;
}

#scoreboardWrapper {
  display: flex;
  width: 100%;
}

#scoreboard-title p {
  background-color: $titleBackground;
  color: $titleText;
  font-family: $title-font;
  text-align: center;
}
