@import './fonts';

$titleBackground: '#f9f7f7';
$titleText: '#444343';

div {
  border: 1px solid black;
}

.scoreboard-row {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.scoreboard-panel {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.scoreboard-label {
  // display: block;
  font-family: $detail-font;
  font-size: 1.2rem;
}

#scoreboardWrapper {
  width: 100%;
}

#scoreboard-title p {
  background-color: $titleBackground;
  color: $titleText;
  font-family: $title-font;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.5rem;
  width: 100%;
}
